:root {
    --main-accent-color: rgb(248, 223, 33);
    --light-accent-color: rgb(255, 243, 153);
    --main-dark-color: rgb(5, 5, 5);
    --light-dark-color: rgb(33,37,41);
    --main-light-color: rgb(255, 255, 255);
    --main-primary-color: rgb(62, 218, 150);
    --dark-primary-color: rgb(66, 185, 134);
}

html,body {
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
}

.container {
    margin: 0;
    padding: 0;
}

.login-bg {
    background: url(../img/login-bg.jpg) no-repeat center center fixed;
    -moz-background-size: cover;
    -webkit-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 100vh;
}


.login-bg-darken {
    background: rgba(255, 255, 255, 0.75);
    overflow-y: scroll;
}

.enrichery-sidebar-collapse {
    transform: translateX(-80%);
}

.enrichery-primary {
    font-weight: bold;
    background-color: var(--main-accent-color);
    color:var(--main-dark-color);
    border-color: var(--main-accent-color);
}
.enrichery-primary:focus {
    background-color: var(--main-accent-color);
    color:var(--main-dark-color);
    border-color: var(--main-accent-color);
}

.enrichery-primary:hover {
    background-color: var(--light-accent-color);
    border-color: var(--light-accent-color);
    color:var(--light-dark-color)
}

.enrichery-primary:target {
    border-color: var(--main-accent-color);
}



.enrichery-secondary {
    font-weight: bold;
    background-color: var(--main-primary-color);
    color:var(--main-light-color);
    border-color: var(--main-primary-color);
}
.enrichery-secondary:focus {
    background-color: var(--main-primary-color);
    color:var(--main-light-color);
    border-color: var(--main-primary-color);
}

.enrichery-secondary:hover {
    background-color: var(--dark-primary-color);
    color:var(--main-light-color);
    border-color: var(--dark-primary-color);
}

.enrichery-secondary:target {
    border-color: var(--main-primary-color);
}


.enrichery-bg-light {
    background-color: var(--main-light-color);
}

.enrichery-bg-dark {
    color: var(--main-light-color);
    background-color: var(--light-dark-color);
    color:var(--main-light-color)
}

.enrichery-bg-primary {
    background-color: var(--main-primary-color);
}

.enrichery-center-form-wrapper {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100%;

    padding: 5vh;

    display: -webkit-box;  /* OLD - iOS 6-, Safari 3.1-6, BB7 */
    display: -ms-flexbox;  /* TWEENER - IE 10 */
    display: -webkit-flex; /* NEW - Safari 6.1+. iOS 7.1+, BB10 */
    display: flex;         /* NEW, Spec - Firefox, Chrome, Opera */
    
    justify-content: center;
    align-items: center;
}

.enrichery-message {
    position: absolute;
    top: 5%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    width: fit-content;
    max-width: 300px;
    height: fit-content;

    display: -webkit-box;  /* OLD - iOS 6-, Safari 3.1-6, BB7 */
    display: -ms-flexbox;  /* TWEENER - IE 10 */
    display: -webkit-flex; /* NEW - Safari 6.1+. iOS 7.1+, BB10 */
    display: flex;         /* NEW, Spec - Firefox, Chrome, Opera */
    
    justify-content: center;
    align-items: center;
}

.enrichery-bg-blur {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100%;
    backdrop-filter: blur(2px);
}

.hide-scrollbar {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}

.hide-scrollbar::-webkit-scrollbar {
    display: none;
  }